.imdb-rating { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 8px 0;
}

.imdb-image { 
  width: 28px;
  height: 28px;
}

.imdb-error,
.imdb-loading,
.imdb-score,
.imdb-votes,
.imdb-no-rating { 
  margin: 0 3px; 
}

.imdb-overlay { 
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100; 
}

.unclickable { 
  pointer-events: none; 
  cursor: default; 
} 

.clickable { 
  cursor: pointer; 
}
